@font-face {
  font-family: 'Inter';
  src: url('../../assets/fonts/Inter-VariableFont_slnt\,wght.ttf')
    format('truetype');
}

body {
  font-family: 'Inter';
}

.articles-section {
  padding: 0 16px 80px 16px;
}
