@use './util' as u;

.main-article {
  max-width: 500px;
  margin-inline: auto;

  &__hero-image {
    margin-top: 88px;

    &--desktop {
      display: none;
    }

    &--mobile {
      width: 100%;
      margin-bottom: u.rem(24);
    }
  }

  &__heading {
    margin-bottom: u.rem(15);
    font-size: u.rem(42);
    font-weight: 800;
    line-height: 1;
    color: var(--very-dark-blue);
  }

  &__description {
    margin-bottom: u.rem(24);
    line-height: 1.7;
  }

  &__button {
    cursor: pointer;
    padding: 16px 28px;
    margin-bottom: u.rem(64);
    border: 0;
    background: var(--soft-red);
    font-size: u.rem(14);
    font-weight: 800;
    color: var(--very-dark-blue);
    text-transform: uppercase;
    letter-spacing: u.rem(5);
    line-height: 1.2;
    transition-property: color, background;
    transition-duration: 150ms;
    transition-timing-function: linear;

    &:hover,
    &:focus-visible {
      color: var(--off-white);
      background: var(--very-dark-blue);
    }
  }
}

@media screen and (min-width: 768px) {
  .main-article {
    &__hero-image {
      margin-top: 0;
    }
  }
}

@media screen and (min-width: 1180px) {
  .main-article {
    width: 730px;
    max-width: unset;
    margin: 0;

    &__hero-image {
      &--desktop {
        display: block;
        width: 100%;
        margin-bottom: u.rem(30);
      }

      &--mobile {
        display: none;
      }
    }

    &__bottom-section {
      display: flex;
      gap: 30px;
    }

    &__heading {
      width: 100%;
      margin-bottom: 0;
      font-size: u.rem(56);
    }

    &__container {
      width: 100%;
    }

    &__description {
      margin-bottom: u.rem(30);
    }

    &__button {
      margin-bottom: 0;
    }
  }
}
