@use './util' as u;

.nav-bar {
  --duration: 150ms;

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  padding: 28px 16px;
  margin-bottom: 4px;
  background: white;

  &__logo-button {
    height: 28px;
  }

  &__logo {
    height: 100%;
  }

  &__button {
    cursor: pointer;
    position: relative;
    z-index: 3;
    padding: 0;
    background: none;
    border: 0;
  }

  &__menu-button {
    &--hidden {
      visibility: hidden;
      opacity: 0;
    }
  }

  &__close-button {
    visibility: hidden;
    position: absolute;
    right: 20px;
    opacity: 0;

    &--visible {
      visibility: visible;
      opacity: 1;
    }
  }
}

.pages {
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 2;
  width: 100%;
  max-width: 250px;
  height: 100vh;
  padding: 150px 20px 80px 20px;
  visibility: hidden;
  background: white;
  opacity: 0;
  transition-property: right, visibility, opacity;
  transition-duration: var(--duration);
  transition-timing-function: ease-in-out;

  &--visible {
    left: unset;
    right: 0;
    visibility: visible;
    opacity: 1;
  }

  &__link {
    font-size: u.rem(18);
    color: var(--very-dark-blue);
    text-decoration: none;
    transition: color 100ms linear;

    &:not(:last-child) {
      margin-bottom: u.rem(20);
    }

    &:hover,
    &:focus-visible {
      color: var(--soft-red);
    }
  }

  &__transparent-background {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 26, 0.5);
    visibility: hidden;
    opacity: 0;
    transition-property: visibility, opacity;
    transition-duration: var(--duration);
    transition-timing-function: ease-in-out;

    &--visible {
      visibility: visible;
      opacity: 1;
    }
  }
}

@media screen and (min-width: 768px) {
  .nav-bar {
    position: relative;

    &__logo-button {
      height: 40px;
    }

    &__menu-button {
      display: none;
    }

    &__close-button {
      display: none;
    }
  }

  .pages {
    display: flex;
    align-items: center;
    gap: 40px;
    position: relative;
    top: unset;
    right: unset;
    width: auto;
    max-width: unset;
    height: auto;
    padding: 0;
    visibility: visible;
    opacity: 1;

    &__link {
      font-size: u.rem(15);
      color: var(--dark-greyish-blue);

      &:not(:last-child) {
        margin-bottom: 0;
      }
    }

    &__transparent-background {
      display: none;
    }
  }
}

@media screen and (min-width: 1180px) {
  .nav-bar {
    padding: 90px 0 55px 0;
    margin-bottom: 0;
  }
}
