@use './util' as u;

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  padding: 28px 16px;
  margin-bottom: 4px;
  background: white;

  &__logo-button {
    height: 28px;
  }

  &__logo {
    height: 100%;
  }

  &__button {
    cursor: pointer;
    padding: 0;
    background: none;
    border: 0;
  }

  &__menu-button {
    &--hidden {
      display: none;
    }
  }

  &__close-button {
    display: none;
    position: absolute;
    right: 20px;

    &--visible {
      display: block;
    }
  }
}

.pages {
  display: none;

  &__transparent-background {
    content: '';
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 26, 0.5);

    &--visible {
      display: block;
    }
  }
}
