@use './util' as u;

.nav-bar {
  --duration: 150ms;

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  padding: 28px 16px;
  margin-bottom: 4px;
  background: white;

  &__logo-button {
    height: 28px;
  }

  &__logo {
    height: 100%;
  }

  &__button {
    cursor: pointer;
    position: relative;
    z-index: 3;
    padding: 0;
    background: none;
    border: 0;
  }

  &__menu-button {
    &--hidden {
      visibility: hidden;
      opacity: 0;
    }
  }

  &__close-button {
    visibility: hidden;
    position: absolute;
    right: 20px;
    opacity: 0;

    &--visible {
      visibility: visible;
      opacity: 1;
    }
  }
}

.pages {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 2;
  width: 100%;
  max-width: 250px;
  height: 100vh;
  padding: 150px 20px 80px 20px;
  background: white;
  opacity: 0;
  transition-property: right, visibility, opacity;
  transition-duration: var(--duration);
  transition-timing-function: ease-in-out;

  &--visible {
    left: unset;
    right: 0;
    visibility: visible;
    opacity: 1;
  }

  &__link {
    font-size: u.rem(18);
    color: var(--very-dark-blue);
    text-decoration: none;

    &:not(:last-child) {
      margin-bottom: u.rem(20);
    }
  }

  &__transparent-background {
    content: '';
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 26, 0.5);
    opacity: 0;
    transition-property: visibility, opacity;
    transition-duration: var(--duration);
    transition-timing-function: ease-in-out;

    &--visible {
      visibility: visible;
      opacity: 1;
    }
  }
}
