@use './util' as u;

.new-articles {
  max-width: 500px;
  padding: 25px 20px;
  margin-inline: auto;
  margin-bottom: u.rem(64);
  background: var(--very-dark-blue);

  &__main-heading {
    margin-bottom: u.rem(32);
    font-size: u.rem(32);
    font-weight: 700;
    color: var(--soft-orange);
    line-height: 1;
  }

  &__article {
    &:not(:last-child) {
      padding-bottom: u.rem(30);
      margin-bottom: u.rem(30);
      border-bottom: 1px solid var(--dark-greyish-blue);
    }
  }

  &__article-heading {
    margin-bottom: u.rem(5);
  }

  &__link {
    width: fit-content;
    font-size: u.rem(20);
    font-weight: 700;
    color: var(--off-white);
    text-decoration: none;
    transition: color 100ms linear;

    &:hover,
    &:focus-visible {
      color: var(--soft-orange);
    }
  }

  &__description {
    color: var(--greyish-blue);
    line-height: 1.7;
  }
}
